Rag Agent Processing.json
{
  "name": "Rag Agent Processing",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "6cfe2193-f21d-446f-ad5f-7416cb34b254",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "ragagenttry",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "75079d32-8558-4cce-aa2b-c172b11df829",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "talzoyUzZO31vy0K",
          "name": "Google Drive account 157"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "0218ff5b-aec4-4188-9709-83d041e06a64",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "talzoyUzZO31vy0K",
          "name": "Google Drive account 157"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "your-index-name",
          "mode": "list",
          "cachedResultName": "your-index-name"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "f09ac29e-b7d3-4402-8f38-75926dd85119",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WbcsnxgJ5c9iAVgx",
          "name": "Pinecone account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        416,
        208
      ],
      "id": "e9fa48ea-64ae-454f-8622-1eea8095be8d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "EsHkL6dwg0fLYpId",
          "name": "OpenAI account 13"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        768,
        208
      ],
      "id": "ccaef606-039c-4466-8c90-247ebbb3119a",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9f124e0f-f921-4bef-8862-88e90f290c75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50918ee0be4fd9ad8edd59da0eb4c4a6502c186d6a425a1cf635ba824838446e"
  },
  "id": "817sJ1vxGYplZ8qb",
  "tags": []
}